{% extends "base.html" %}
{% block title %}发布动态{% endblock %}
{% block styles %}
<link type="text/css" href="{{ url_for('static',filename='css/adddynamic.css') }}" rel="stylesheet">
{{super()}}
{% endblock %}
{% block container%}
<div class="main">
    {% if img %}
    <input id='img' type="hidden" value="{{img.url}}">
    <input id='compareimg' type="hidden" value="{{compareimg.url}}">
    {% endif%}
    <div class="panel panel-default adddynamic">
        <div class="panel-body">
             <form role="form" action="/dynamic/adddynamic" method="post" enctype="multipart/form-data">
                {% if img %}
                <input name="imgid" type="hidden" value="{{img.id}}">
                <input name="compareimgid" type="hidden" value="{{compareimg.id}}">
                {% endif%}
                <div class="form-group">
                    <label>动态内容</label>
                    <textarea class="form-control" name="dynamiccontent" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>选择图片(最多可选三张图片)</label>
                    <input type="file" name="dynamicimg" id="dynamicimg" multiple />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default btn-warning">发布</button>&nbsp;&nbsp;&nbsp;
                </div>
              </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="../static/js/adddynamic.js"></script>
{% endblock %}