{% extends "base.html" %}
{% block title %}index{% endblock %}
{% block styles %}
<link type="text/css" href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet">
{{super()}}
{% endblock %}
{% block container%}
<div class="main">
    {% for dynamic in indexlist%}
    <div class="panel panel-default">
        <input type="hidden" value="{{dynamic['id']}}">
        <div class="panel-heading">
            <img src="{{dynamic['headurl']}}" class="img-circle head"/>
            <label>{{dynamic['name']}}</label>
            <label class="pull-right time">{{dynamic['time']}}</label>
        </div>
        <div class="panel-body">
            <div> {{dynamic['content']}}
            </div>
            <div class="row">
                {% for img in dynamic['imgs'] %}
                <div class="col-sm-4 col-md-4">
                    <div class="thumbnail">
                        <img src="{{img}}" class=" dynmaicimg">
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="action">
                <label>点赞</label>&nbsp;&nbsp;&nbsp;
                <label>评论</label>&nbsp;&nbsp;&nbsp;
                <label>编辑</label>
            </div>
        </div>
        <div class="panel-footer commentpart">
            <ul class="list-unstyled">
                {% for comment in dynamic['comments'] %}
                <li id="{{comment['id']}}" class="{% if comment['actorname']!='-1'%}answercomment{% endif %}">
                    <label >
                        <a id="{{comment['userid']}}" href="/user/{{comment['userid']}}"
                           class="answer">{{comment['name']}}</a>
                        {% if comment['actorname']!='-1'%}
                        对<a>&nbsp;{{comment['actorname']}}</a> 回复
                        {% endif%}
                        ：<span class="comment">{{comment['content']}}</span>
                    </label>
                </li>
                {% endfor %}
            </ul>
            <div class="form-inline">
                 <input type="text" class="form-control" style="width:780px" id="name" placeholder="写出你的想法">
                 <button type="button" class="btn btn-primary commentbtn">评论</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="../static/js/dynamic.js"></script>
<script type="text/javascript" src="../static/js/comment.js"></script>
{% endblock %}