<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">×
        </button>
        <h4 class="modal-title" id="myModalLabel">
            图片优化
        </h4>
    </div>
    <div class="modal-body">
        <label>相册选择</label>
        <div class="dropdown" id="basedropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            选择相册
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            {% for album in albums%}
              <li><a id="{{album['id']}}">{{album['name']}}</a></li>
            {% endfor%}
          </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row baseimg">

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
         <button type="button" class="basesuperbtn btn btn-warning">优化图片</button>
         <div id="baseAlert" class="alert alert-danger hide">
            <strong></strong>
         </div>
    </div>
</div>